@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: transform 0.3s ease;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease;
  border-radius: 2px;
}
.x-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background: transparent; 
  border: none;
  padding: 10px; 
}

.x-btn .bar {
  width: 25px;
  height: 3px; 
  background-color: white; 
  transition: all 0.3s ease;
}
.x-btn .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.x-btn .bar2 {
  transform: rotate(-45deg) translate(5px, -5px);
}
